@model WavePoetry.Model.Contact

@{
    ViewBag.Title = "Create Contact";
}

<h2>New Contact</h2>
<p><a href="/Contact/Index/">Back to Search</a></p>

@using (Html.BeginForm("Create", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $("#reviews-link").hide();
        $("#shipments-link").hide();
    });
</script>
