body {
  color: #333333;
}

h1, h2 {
    font-size: 30px;
}

.field-validation-error {
    color: #ff0000;
}

.navbar .nav > li > a:hover {
  color: #E78B24;
}

.body-content {
    margin-top:80px;
}

.input-small2 {
        width: 105px;
}

.form-inline.aligntop input,  .form-inline.aligntop select,  .form-inline.aligntop label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}
 .box {
        background: none repeat scroll 0 0 #FBFBFB;
        border: 1px solid #CDCDCD;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 2px 2px -2px #CCCCCC;
        margin-bottom: 20px;
    }

 .box   .accordion-heading {
        border-bottom: 1px solid #CDCDCD;
        color: #636363;
        font-weight: 600;
        text-shadow: 0 1px white;
    }

.box    .accordion-inner {
        padding-bottom: 0px;
    }