@model WavePoetry.Model.Shipment

@{
    ViewBag.Title = "Create Shipment";
}

<h2>New Shipment</h2>

@using (Html.BeginForm("Create", "Shipment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
    });
</script>
