@model WavePoetry.Model.Shipment

@{
    ViewBag.Title = "Edit Shipment";
}

<h2>Edit Shipment</h2>

@using (Html.BeginForm("Edit", "Shipment", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
}
<p style="text-align:right;"><em>Last Updated: @Model.LastUpdated</em></p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

