<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="waveoldEntities" connectionString="metadata=res://*/WaveOldModel.csdl|res://*/WaveOldModel.ssdl|res://*/WaveOldModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=50.63.244.74;user id=waveold;password=W@ve1one!;database=waveold&quot;" providerName="System.Data.EntityClient" />
    <add name="wavepoetry2Entities1" connectionString="metadata=res://*/WavePoetryModel.csdl|res://*/WavePoetryModel.ssdl|res://*/WavePoetryModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=50.63.244.37;user id=wavepoetry2;password=Wave1one!;persist security info=True;database=wavepoetry2&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>