@model WavePoetry.Model.Title

@{
    ViewBag.Title = "Create Title";
}

<h2>New Title</h2>

@using (Html.BeginForm("Create", "Title", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary(true)

    @Html.EditorForModel()
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        $("#reviews-link").hide();
        $("#awards-link").hide();
    });
</script>
